*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.logo img{
    width: 60px;
    height: 60px;
}

.right-side-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.right-side-menu .perfil {
    width: 40px;
    height: 40px;
}

.right-side-menu .carrinho {
    width: 40px;
    height: 40px;
}
header{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 85px;
}

.left-side-menu{
    display: flex;
    gap: 50px;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #093F61;
}
.line{
    height: 1px;
    background-color: #093F61;
    width: 90%;
    align-self: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.items{
    align-self: flex-end;
}
.select-image{
    max-width: 400px;
}
.select-image img{
    width: 100%;
    border-radius: 10px;

}
.thumbnails{
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 10px;
}
.thumbnail img{
    width: 100%;
    border-radius: 10px;
}
.right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-side h6{
    color: #1071AD;

}
.right-side p{
    color: #093F61;
    font-size: 14px;
}
.price{
    font-size: 16px;
    font-weight: 700;
}
.off{
    font-size: 12px;
    color: #ccc;
}
.amount{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #ffffff;
    width: fit-content;
}